/* Layout variables */
/* Media Queries breakpoints - please notice that we are using "desktop first" attitude. Variables as full query */
/* Font families */
/* Color variables */
/*  By AI Team!
---------------------------------------------------
	Layout 
--------------------------------------------------- */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

pre {
  padding: 1.5em;
  margin: 0;
  overflow-x: scroll;
  margin-right: 0.55rem;
  border-left: solid #e8e8e8; }

body {
  color: #405267;
  font-family: "Roboto Slab", serif;
  font-size: 15px;
  line-height: 21px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  margin: 0; }

h1, h2, h3, h4, h5 {
  font-weight: 300;
  color: #405267;
  font-family: "Merriweather Sans", sans-serif;
  line-height: 1.1;
  margin-bottom: 0; }

h1 {
  font-size: 2.52rem; }
  h1 a,
  h1 a:visited {
    text-decoration: none; }

h2 {
  font-size: 2.2rem; }

h3 {
  font-size: 1.5rem;
  font-weight: 400; }

h4 {
  font-size: 1.33rem;
  font-weight: 400; }

a {
  color: #249ef1;
  text-decoration: none; }

a:visited {
  color: #249ef1;
  text-decoration: none; }

a:hover {
  color: #27d798;
  text-decoration: none; }

time {
  color: #898989; }

article {
  max-width: 988px;
  display: flex;
  flex-direction: row-reverse; }

/*  ---------------------------------------------------
	Top Navigation
--------------------------------------------------- */
.TopRowContainer {
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  width: 100%;
  z-index: 2;
  border-bottom: 1px solid white;
  box-shadow: 0px 1px 1px RGBA(4, 25, 54, 0.1); }

.TopRow {
  max-width: 988px;
  margin: 0 auto;
  display: flex; }

.TopNavContainer {
  justify-content: flex-start; }
  @media screen and (max-width: 720px) {
    .TopNavContainer {
      justify-content: flex-end; } }

.TopNavList {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap; }
  @media screen and (max-width: 720px) {
    .TopNavList {
      justify-content: flex-end; } }

.TopNavLogoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  margin-right: 30px;
  height: 48px; }
  .TopNavLogoContainer:hover {
    background: #fafafa; }
  @media screen and (max-width: 420px) {
    .TopNavLogoContainer {
      padding: 0 5px;
      margin-right: 0; } }

.TopNavLogo {
  width: 54px; }

.TopNavLink {
  font-size: 14px;
  text-decoration: none;
  font-size: 14px;
  display: block;
  height: 48px;
  padding: 15px 7px; }
  .TopNavLink:hover {
    background: #fafafa;
    text-decoration: none;
    color: #27d798; }

.TopNavLink__Active {
  background: #fafafa;
  text-decoration: none;
  color: #405267; }

/*  ---------------------------------------------------
	Main Content
--------------------------------------------------- */
.MainContentColumn {
  max-width: 988px;
  margin: 0 auto;
  padding: 0;
  min-height: 50vh; }

.MainContent {
  width: 80%;
  padding: 0 1em; }
  @media screen and (max-width: 420px) {
    .MainContent {
      width: 100%; } }

.ArticleContainer {
  min-height: 80vh; }

.WelcomeHeader {
  display: flex;
  min-height: 400px;
  padding-top: 10px;
  margin: 0;
  justify-content: center;
  align-items: flex-start;
  background: url("/imandra-docs/jekyll-resources/assets/img/imandra_background_transition_v_2.svg") center 101%/1440px 200px repeat-x, url("/imandra-docs/jekyll-resources/assets/img/bg_regions.svg") center center/cover no-repeat;
  background-color: #f4f4f4; }
  @media screen and (max-width: 720px) {
    .WelcomeHeader {
      min-height: 300px;
      padding-top: 45px;
      background: url("/imandra-docs/jekyll-resources/assets/img/imandra_background_transition_v_2.svg") center 101%/1440px 140px repeat-x, url("/imandra-docs/jekyll-resources/assets/img/bg_regions.svg") center center/cover no-repeat; } }

.TemplateHeader {
  display: flex;
  min-height: 313px;
  padding-top: 75px;
  margin: 0;
  justify-content: center;
  background: url("/imandra-docs/jekyll-resources/assets/img/imandra_background_transition_v_2.svg") center 101%/1440px 200px repeat-x, url("/imandra-docs/jekyll-resources/assets/img/bg_regions.svg") center center/cover no-repeat;
  background-color: #f4f4f4; }
  @media screen and (max-width: 720px) {
    .TemplateHeader {
      min-height: 240px;
      background: url("/imandra-docs/jekyll-resources/assets/img/imandra_background_transition_v_2.svg") center 101%/1440px 140px repeat-x, url("/imandra-docs/jekyll-resources/assets/img/bg_regions.svg") center center/cover no-repeat; } }

/* Welcompage Template Classes */
.WelcomeContentContainer {
  flex-direction: column; }

.WelcomeImage {
  max-width: 700px;
  min-width: 200px; }
  @media screen and (max-width: 420px) {
    .WelcomeImage {
      width: 80%; } }

.WelcomeText,
.WelcomeExcerpt {
  text-align: center;
  display: flex;
  justify-content: center; }
  @media screen and (max-width: 720px) {
    .WelcomeText,
    .WelcomeExcerpt {
      flex-direction: column; } }

.WelcomeAILink {
  text-decoration: none;
  color: #249ef1;
  margin-left: 3px; }

/* Page Template Classes */
.TemplateHeaderImageContainer {
  max-width: 988px;
  margin: 0 auto;
  padding-left: 10px;
  display: flex;
  flex-grow: 1;
  justify-content: flex-start; }

.SiteSpecificImage {
  max-width: 700px;
  min-width: 200px; }
  @media screen and (max-width: 720px) {
    .SiteSpecificImage {
      width: 80%;
      margin-top: 2em; } }

/*  ---------------------------------------------------
	Side Menus
--------------------------------------------------- */
.SideMenuContainer {
  width: 20%; }

.SideMenu {
  width: 100%;
  margin-left: 1rem;
  padding-top: 1.6rem; }
  .SideMenu a {
    display: block;
    text-decoration: none;
    padding: 0.4em 0.6em;
    border-left: solid #f5faf9; }
  .SideMenu a:hover {
    background: #fafafa;
    text-decoration: none;
    color: #27d798; }
  .SideMenu a:active {
    color: #405267; }
  @media screen and (max-width: 420px) {
    .SideMenu {
      display: none; } }

.DummySideMenu {
  width: 20%;
  margin: 0; }
  @media screen and (max-width: 420px) {
    .DummySideMenu {
      width: 0;
      padding: 0; } }

/*  ---------------------------------------------------
	Footer
--------------------------------------------------- */
.Footer {
  bottom: 0;
  width: 100%;
  left: 0;
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  font-size: 11px;
  color: #fff;
  padding-bottom: 1em;
  background: url("/imandra-docs/jekyll-resources/assets/img/transition_footer.svg") center 101%/1400px 220px repeat-x; }

.Copyrights {
  text-decoration: none;
  font-size: 1.1em;
  color: #fff; }
  .Copyrights:hover {
    text-decoration: none !important; }

/*  ---------------------------------------------------
	Main Doc Welcome Page
--------------------------------------------------- */
.VerticalsContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0;
  padding: 0;
  flex-grow: 1; }
  @media screen and (max-width: 720px) {
    .VerticalsContainer {
      flex-direction: column;
      align-items: center;
      border: none; } }

.Vertical {
  display: flex;
  flex-direction: column;
  width: 33.33%;
  padding: 0 0.2em; }
  .Vertical:first-child {
    border-right: solid 1px #f0f0f0; }
  .Vertical:last-child {
    border-left: solid 1px #f0f0f0; }
  @media screen and (max-width: 720px) {
    .Vertical {
      width: 100%;
      flex-direction: column;
      align-items: center;
      border: none; } }

.VerticalTitle {
  color: #4A596D;
  height: 1.2em;
  margin-bottom: 1em;
  font-weight: 100;
  align-self: center; }

.Repositories {
  margin: 0 10px;
  padding: 0; }
  @media screen and (max-width: 720px) {
    .Repositories {
      margin: 0 1em;
      display: flex;
      flex-direction: column;
      align-items: center; } }

.RepositoryItem {
  list-style: none; }

.RepositoryLink {
  display: flex;
  max-width: 960px;
  min-height: 111px;
  border-radius: 6px;
  padding: 1em 0;
  margin-bottom: 1em;
  background-color: #fcfcfc;
  text-decoration: none;
  transition: all 0.1s ease-out; }
  .RepositoryLink:hover {
    text-decoration: none;
    background-color: #f0f0f0; }
  @media screen and (max-width: 720px) {
    .RepositoryLink {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 1em; } }

.RepositoryIcon {
  width: 44px;
  align-self: flex-start;
  margin: 10px; }
  @media screen and (max-width: 720px) {
    .RepositoryIcon {
      align-self: center; } }

.RepositoryDescription {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.RepositoryDescription_Title {
  color: #405267;
  margin: 0;
  font-weight: 100; }

.RepositoryDescription_Excerpt {
  color: #405267;
  margin: 0; }

.RepositoryDescription_Excerpt:hover,
.RepositoryDescription_Title:hover {
  text-decoration: none; }

/*  ---------------------------------------------------
	Code Examples
--------------------------------------------------- */
.highlighter-rouge {
  font-family: menlo, monospace;
  /*add source*/
  background: #f1f1f1;
  padding: 0 5px;
  font-size: 90%; }

figure {
  margin: 0;
  padding: 0; }

h2.internalLink-padding:before {
  display: block;
  content: " ";
  margin-top: -60px;
  height: 60px;
  visibility: hidden;
  pointer-events: none; }

h2.internalLink-padding {
  padding-top: 1.6rem; }

.box {
  display: none;
  width: 100%; }

a:hover + .box, .box:hover {
  display: block;
  position: relative;
  z-index: 100; }

/*  ---------------------------------------------------
	Inline Images styling
--------------------------------------------------- */
.template-image {
  width: 100%;
  display: block;
  border-radius: 4px;
  border-top: solid 10px #f2f2f2;
  border-left: solid 1px #f2f2f2;
  border-right: solid 1px #f2f2f2;
  border-bottom: solid 1px #f2f2f2;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 4px 0 rgba(0, 0, 0, 0.19); }

.template-image:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

/**
* Syntax highlighting styles
*/
.highlight {
  background: #fafafa;
  margin: 2em 0 2em 0;
  padding: 0;
  overflow: hidden; }
  .highlight .c {
    color: #998;
    font-style: italic; }
  .highlight .err {
    color: #a61717;
    background-color: #e3d2d2; }
  .highlight .k {
    font-weight: bold; }
  .highlight .o {
    font-weight: bold; }
  .highlight .cm {
    color: #998;
    font-style: italic; }
  .highlight .cp {
    color: #999;
    font-weight: bold; }
  .highlight .c1 {
    color: #998;
    font-style: italic; }
  .highlight .cs {
    color: #999;
    font-weight: bold;
    font-style: italic; }
  .highlight .gd {
    color: #000;
    background-color: #fdd; }
  .highlight .gd .x {
    color: #000;
    background-color: #faa; }
  .highlight .ge {
    font-style: italic; }
  .highlight .gr {
    color: #a00; }
  .highlight .gh {
    color: #999; }
  .highlight .gi {
    color: #000;
    background-color: #dfd; }
  .highlight .gi .x {
    color: #000;
    background-color: #afa; }
  .highlight .go {
    color: #888; }
  .highlight .gp {
    color: #555; }
  .highlight .gs {
    font-weight: bold; }
  .highlight .gu {
    color: #aaa; }
  .highlight .gt {
    color: #a00; }
  .highlight .kc {
    font-weight: bold; }
  .highlight .kd {
    font-weight: bold; }
  .highlight .kp {
    font-weight: bold; }
  .highlight .kr {
    color: #106932;
    font-weight: bold; }
  .highlight .kt {
    color: #458;
    font-weight: bold; }
  .highlight .m {
    color: #099; }
  .highlight .s {
    color: #d14; }
  .highlight .na {
    color: #008080; }
  .highlight .nb {
    color: #0086B3; }
  .highlight .nc {
    color: #458;
    font-weight: bold; }
  .highlight .no {
    color: #008080; }
  .highlight .ni {
    color: #800080; }
  .highlight .ne {
    color: #900;
    font-weight: bold; }
  .highlight .nf {
    color: #900;
    font-weight: bold; }
  .highlight .nn {
    color: #555; }
  .highlight .nt {
    color: #000080; }
  .highlight .nv {
    color: #008080; }
  .highlight .ow {
    font-weight: bold; }
  .highlight .w {
    color: #bbb; }
  .highlight .mf {
    color: #099; }
  .highlight .mh {
    color: #099; }
  .highlight .mi {
    color: #099; }
  .highlight .mo {
    color: #099; }
  .highlight .sb {
    color: #d14; }
  .highlight .sc {
    color: #d14; }
  .highlight .sd {
    color: #d14; }
  .highlight .s2 {
    color: #d14; }
  .highlight .se {
    color: #d14; }
  .highlight .sh {
    color: #d14; }
  .highlight .si {
    color: #d14; }
  .highlight .sx {
    color: #d14; }
  .highlight .sr {
    color: #009926; }
  .highlight .s1 {
    color: #d14; }
  .highlight .ss {
    color: #990073; }
  .highlight .bp {
    color: #999; }
  .highlight .vc {
    color: #008080; }
  .highlight .vg {
    color: #008080; }
  .highlight .vi {
    color: #008080; }
  .highlight .il {
    color: #099; }
