---
title: "Verification"
description: "A description of Imandra's Verification Engine"
kernel: imandra
slug: verification
key-phrases:
  - waterfall
  - induction
  - verification
  - simplification
  - forward-chaining
  - rewrite
  - generalization
  - elimination
  - fertilization
---

# Verification

- [Commands](Verification%20-%20Commands.md)
- [Attributes](Verification%20-%20Attributes.md)
- [Unrolling](Verification%20-%20Unrolling.md)
- [Simplification](Verification%20-%20Simplification.md)
- [Blast](Verification%20-%20Blast.md)
- [Induction](Verification%20-%20Induction.md)
- [Waterfall](Verification%20-%20Waterfall.md)
