/*  -----------------------------------------------------------------------
Basic Imandra Light Jupyter theme
----------------------------------------------------------------------- */
body, p, li {
    font-family: 'Merriweather', serif;
    color: #405267;
    font-size: 15px;
    line-height: 21px;
    font-weight: 400;
}

h1, h2, h3, h4, h5 {
    font-family: 'Merriweather Sans', sans-serif !important;
    font-weight: 400 !important;
    color: #405267;
    line-height: 1.1;
    margin-bottom: 0;
}

h1 {
    font-size: 2.52rem !important;
    a,
    a:visited {
        text-decoration: none;
    }
}

h2 {
    font-size: 2.2rem !important;
}

h3 {
    font-size: 1.5rem !important;
    font-weight: 400 !important;
}

h4 {
    font-size: 1.33rem !important;
    font-weight: 400 !important;
}

a {
    text-decoration: none;
}
.navbar-nav > li > a {
    font-family: 'Merriweather Sans', sans-serif !important;
}

div.input_area {
    border: none !important;
}

.notebook_app {
    background: rgb(178,178,178);
    /*background: url('../static/base/images/ai_background_research.svg') 0 0 / 1440px 768px repeat;*/
}
.notebook_app > #header{
    box-shadow: none;
}

#header-container {
    width: 100%;
    height: 95px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 22px;
    color: #f7f9fa;
    /* Rectangle 2: */
    background-image: -webkit-linear-gradient(left, #5243D3 0%, #0761FD 25%, #0BA8FF 49%, #00BFFF 74%, #00D48E 100%);
    background-image: -o-linear-gradient(left, #5243D3 0%, #0761FD 25%, #0BA8FF 49%, #00BFFF 74%, #00D48E 100%);
    background-image: linear-gradient(to right, #5243D3 0%, #0761FD 25%, #0BA8FF 49%, #00BFFF 74%, #00D48E 100%);
}

#tab_content{
    transform: translateY(-90px);
}

body > #header #header-container {
    padding: 22px;
    margin-bottom: -14px;
}


body > #header {
    background: rgba(0,0,0,0);

}
#ipython_notebook img {
    height: 38px;
}

#site {
    margin-top: -10px;
    overflow-y: overlay;
}

#logout{
    border-radius: 9px;
}

#save_widget {
    justify-content: center;
}

#notebook_name {
    margin: 0;
    padding: 0 10px;
    line-height: 28px;
}

span#login_widget {
    width: 200px;
    height: 70px;
    background: url('../static/base/images/Imandra-poweredby-reversed.svg') center right / 160px 70px no-repeat;
}

body > #header .header-bar {
    background: rgba(0,0,0,0);
    height: 0;
}

.navbar-btn.btn-sm,
#logout,
body > #header .header-bar {
    display: none;
}

#notification_area {
    padding-top: 4px;
}

#kernel_indicator {
    padding-top: 2px;
    padding-right: 5px;
    padding-left: 5px;
    font-size: 0.8em;
}

#tab_content {
    padding-top: 70px;
}

#notebook {
    background: rgba(0,0,0,0);
    padding-top: 10px !important;
}

#notebook-container {
    background: #feffff;
}

.navbar-brand {
    height: auto;
}

.navbar-collapse {
    padding: 5px;
}

.navbar-nav > li > a {
    padding-top: 6px;
    padding-bottom: 9px;
}

#maintoolbar {
    background: #feffff;
    padding-top: 20px;
}

.toolbar {
    padding-left: 1em;
}

#menubar .navbar {
    border: none;
    border-radius: 4px 4px;
    margin-bottom: 0px;
    z-index: 999;
}

.Logo_Container{
    display: flex;
    justify-content: center;
    margin-left: -80px;
}

img.Logo_PoweredByImandra {
    display: block;
    height: 150px;
    margin: 40px 0
}

div.text_cell_render.rendered_html {
    overflow: visible !important;
}

/*---------------------------------*/

[dir="rtl"] .modal-footer {
    text-align : left !important;
}

[dir="rtl"] .close {
    float : left;
}

[dir="rtl"] .fa-step-forward::before {
    content: "\f048";
}

#load_public_user_gists, #load_all_user_gists {
    display: none;
}

#gist_notebook .toolbar-btn-label, #load_notebook_from_url .toolbar-btn-label {
    display:none;
}

#gist_notebook i, #load_notebook_from_url i {
    margin-right: 6px;
}

#gist_notebook:after {
    content: "Save (Gist)";
}

#load_notebook_from_url:after {
    content: "Load (By URL)";
}

#notebooks #notebook_toolbar {
    display: flex;
    flex-direction: column;
}

#notebooks #notebook_toolbar .dynamic-instructions {
    display: inline;
    width: 100%;
}

#notebooks #notebook_toolbar > *:last-child {
    width: 100%;
}

#notebooks #notebook_toolbar .tree-buttons {
    margin-top: 8px;
    margin-bottom: 8px;
}

#notebooks #notebook_toolbar .tree-buttons .pull-right {
    float: left !important;
}

#notebooks #notebook_toolbar .tree-buttons .btn {
    padding: 6px;
}

#notebooks #notebook_toolbar .tree-buttons .alternate_upload .btn-upload {
    height: auto;
    padding-top: 7px;
    padding-bottom: 5px;
}

ul#new-menu {
    right: auto;
}

.try-imandra-console {
    display: flex;
    align-items: center;
    background-color: #eeeeee;
    border: 1px #dddddd solid;
    padding: 10px;
    width: 100%;
    margin: 10px 0 15px 0;
    box-shadow: 1px 1px #aaaaaa;
}

.try-imandra-console:hover {
    text-decoration: none;
    background-color: #f9f9f9;
    cursor: pointer;
}

.try-imandra-console__text {
    margin-left: 10px;
    font-weight: bold;
}

.terminal-app #terminado-container {
    margin-top: 35px;
    height: calc(100% - 75px);
}

#terminado-container .terminal {
    position: relative;
}

#terminado-clear {
    position: absolute;
    top: 10px;
    right: 20px;
    opacity: 0.5;
    z-index: 99;
}

.terminal-app {
    background: url('../static/base/images/imandra-console-bg.svg') top center no-repeat;
    background-color: #000;
}

.terminal-app #header {
    margin-top: 30px;
    background: url('../static/base/images/imandra-console-logo.svg') top center no-repeat;
    background-size: auto 60px;
    height: 60px;
    box-shadow: none;
}

.terminal-app #header-container {
    display: none !important;
}

.imandra-header {
    background-color: white;
    margin-bottom: -10px;
    position: relative;
    z-index: 10;
    padding: 2em 2em 0 2em;
}

.imandra-header-image {
    text-align: center;
    margin: 1em 0;
}

.imandra-header-image img {
    max-width: 90%;
}

.imandra-header-subtitle {
    margin-bottom: 1em;
    font-weight: bold;
    font-size: 1.2em;
}

.imandra-quick-links {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-direction: column;
}

@media (min-width: 625px) {
    .imandra-quick-links {
        flex-direction: row;
    }
}

.imandra-quick-links .imandra-quick-link {
    display: flex;
    width: 300px;
    margin-top: 0.5em;
    align-items: center;
}

.imandra-quick-links .imandra-quick-link img {
    width: 60px;
    height: 60px;
}

.imandra-quick-links .imandra-quick-link .imandra-quick-link-text {
    margin-left: 2em;
    width: 200px;
}
