.try-this-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 3px;
}
@media (max-width: 540px) {
  .try-this-container {
    position: absolute;
    right: 5px;
  }
}
.try-this-container a:hover {
  text-decoration: none;
}
.try-this {
  cursor: pointer;
  border: 1px #009be7 solid;
  border-radius: 3px;
  font-family: 'Merriweather sans', sans-serif;
  font-size: 10px;
  font-weight: bold;
  padding: 3px 5px 2px 38px;
  background-color: white;
  color: #68717f;
  background-image: url('img/imandra_doc_logo_main.svg');
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: 3px;
  user-select: none;
}
.try-this--inline {
  display: inline-block;
  position: relative;
  top: -2px;
  margin-left: 2px;
  margin-right: 2px;
  padding: 1px 5px 0 38px;
}
.section-header {
  margin-top: 2em;
  margin-bottom: 1em;
  font-weight: bold;
  font-size: 1.4em;
}
.section-header--small {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 1em;
}
h1:before,
h2:before,
h3:before,
h4:before,
h5:before {
  content: '';
  display: block;
  position: relative;
  width: 0;
  height: 58px;
  margin-top: -58px;
}
.content-nav {
  display: none;
  background-color: #fcfcfc;
  padding: 1em;
  border: 1px #e7e7e7 solid;
}
.content-nav ul {
  padding-left: 20px;
}
@media (min-width: 1580px) {
  .content-nav {
    position: fixed;
    top: 48px;
    margin-left: 1000px;
    display: block;
    width: calc((100% - 1300px) / 2);
    min-width: 250px;
  }
}
.content-nav__item--h2 {
  margin-left: 1em;
  font-size: 0.9em;
}
.content-nav__item--h3 {
  margin-left: 2em;
  font-size: 0.8em;
}
.content-nav__item--h4 {
  margin-left: 3em;
  font-size: 0.7em;
}
.content-nav__item--h5 {
  margin-left: 4em;
  font-size: 0.6em;
}
.imandra-resources-warning {
  margin-top: 1em;
  background-color: rgba(255, 204, 128, 0.5);
  border: 2px #ffcc40 solid;
  padding: 1em;
}
@media (max-width: 540px) {
  div.output_subarea {
    max-width: inherit;
  }
}
.imandra-documentation h1 {
  margin-bottom: 1em;
}
.imandra-documentation p {
  margin-bottom: 1em;
}
.imandra-documentation .intro-paragraph {
  margin-top: 1em;
  margin-bottom: 1em;
}
.key-phrases {
  margin-top: 1em;
  padding-left: 1.1em;
}
.key-phrases .key-phrase-text {
  font-weight: bold;
}
.key-phrases .key-phrase-notebook {
  font-size: 0.8em;
}
.output_area pre {
  max-height: 800px;
  overflow-y: auto;
}
.rendered_html pre {
  background-color: inherit;
  padding: 5px;
}
