/* Layout variables */
/* Media Queries breakpoints - please notice that we are using "desktop first" attitude. Variables as full query */
/* Font families */
/* Color variables */
/*  By AI Team!
---------------------------------------------------
  Layout
--------------------------------------------------- */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

pre {
  padding: 1.5em;
  margin: 0;
  overflow-x: auto;
  margin-right: 0.55rem;
  border-left: solid #e8e8e8;
}

html {
  font-size: 14px !important;
}

body {
  color: #565e71;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 1em;
  line-height: 1.6;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  margin: 0;
}

h1, h2, h3, h4, h5 {
  font-weight: 300;
  color: #565e71;
  font-family: "Merriweather Sans", sans-serif;
  line-height: 1.1;
  margin-bottom: 0;
}

h1 {
  font-size: 2.52rem;
}
h1 a,
h1 a:visited {
  text-decoration: none;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: 400;
}

h4 {
  font-size: 1.33rem;
  font-weight: 400;
}

a {
  color: #4f92ff;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  color: #22e6b0;
  text-decoration: none;
}

a:focus {
  text-decoration: none;
}

time {
  color: #898989;
}

/*  ---------------------------------------------------
    Navigation
--------------------------------------------------- */
.top-row-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 230px;
  background: rgba(255, 255, 255, 0);
  height: 100%;
  z-index: 3;
  border-bottom: 1px solid white;
  box-shadow: 0px 1px 1px RGBA(4, 25, 54, 0.1);
  overflow-y: scroll;
  padding: 20px 0 0 20px;
}
@media screen and (max-width : 1024px) {
  .top-row-container {
    position: relative;
    overflow-y: visible;
    width: 100%;
    padding: 0;
    background: white;
  }
}

.top-row {
  max-width: 1008px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media screen and (max-width : 1024px) {
  .top-row {
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }
}

.side__logo-container {
  display: flex;
  width: 30%;
  padding: 10px;
}
.side__logo-container:hover {
  background: #fafafa;
}
@media screen and (max-width : 1024px) {
  .side__logo-container {
    justify-content: center;
  }
}
.side__logo {
  width: 29px;
  height: 30px;
}
.side__logo-link {
  margin: 0;
  padding: 0;
  height: 30px;
}
.side__nav-container {
  justify-content: flex-start;
  margin-top: 2em;
}
@media screen and (max-width : 1024px) {
  .side__nav-container {
    position: absolute;
    background: #ffffff;
    width: 100%;
    top: 20px;
    min-height: 100vh;
  }
}
@media screen and (max-width : 1024px) {
  .side__nav-container--hidden {
    display: none;
  }
}
.side__nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
@media screen and (max-width : 1024px) {
  .side__nav-list {
    justify-content: flex-end;
  }
}
.side__nav-list--sub-level-1 {
  font-size: 0.9rem;
  list-style: none;
  padding: 0 0 1em 1em;
}
.side__nav-list--sub-level-2 {
  font-size: 0.85rem;
  list-style: none;
  padding: 0 0 1em 1em;
}
.side__nav-list--sub-level-3 {
  font-size: 0.8rem;
  list-style: none;
  padding: 0 0 1em 1em;
}
.side__nav-list-item--sub-level-1 a:hover {
  color: #ffffff;
}
.side__nav-link {
  display: block;
  font-size: 13px;
  text-decoration: none;
  line-height: 1.5;
  padding: 0;
}
.side__nav-link:hover {
  background: #3a72cd;
  text-decoration: none;
  color: #ffffff;
  padding-left: 0.2em;
}
@media screen and (max-width : 1024px) {
  .side__nav-link {
    padding: 0.5em;
  }
}
.side__nav-link--active {
  color: #22e6b0;
  font-weight: 400;
}
.side__toggle {
  text-decoration: none;
  font-size: 50px;
  display: flex;
  line-height: 30px;
  align-items: baseline;
  height: 40px;
}
.side__toggle-text {
  font-size: 13px;
  align-self: center;
  margin: 0 5px;
}
.side__left-menu-toggler {
  display: none;
}
@media screen and (max-width : 1024px) {
  .side__left-menu-toggler {
    display: flex;
    margin-left: 5px;
  }
}
.side__right-menu-toggler {
  display: none;
}
@media screen and (max-width : 1024px) {
  .side__right-menu-toggler {
    display: flex;
    margin-right: 5px;
  }
}

.top-bar {
  display: flex;
  justify-content: flex-end;
  z-index: 2;
  font-size: 16px;
}
.top-bar__nav-container {
  display: flex;
  justify-content: flex-end;
}
@media screen and (max-width : 1024px) {
  .top-bar__nav-container {
    justify-content: flex-start;
    width: 100%;
  }
}
.top-bar__nav-list {
  list-style: none;
  display: flex;
  margin: 33px 32px 0 0;
}
@media screen and (max-width : 1024px) {
  .top-bar__nav-list {
    position: absolute;
    background: #ffffff;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    flex-direction: column;
    z-index: 1;
  }
}
@media screen and (max-width : 1024px) {
  .top-bar__nav-list--hidden {
    display: none;
  }
}
@media screen and (max-width : 1024px) {
  .top-bar__nav-list-item {
    padding: 0;
  }
}
.top-bar__nav-link {
  padding: 0.5em 0.95em;
  color: #576483;
  display: block;
  font-weight: 400;
  font-size: 0.76em;
  text-decoration: none;
  text-transform: uppercase;
  text-align: right;
  white-space: nowrap;
}
@media screen and (max-width : 1024px) {
  .top-bar__nav-link {
    text-transform: none !important;
    font-size: 0.9rem;
    text-decoration: none;
    display: block;
    padding: 0.8em;
    font-weight: 300;
  }
  .top-bar__nav-link:hover {
    background: #fafafa;
    text-decoration: none;
    color: black;
  }
}
.top-bar__toggle {
  display: none;
}

/*  ---------------------------------------------------
  Main Content
--------------------------------------------------- */
.main-content-column {
  padding: 0;
}

.main-content {
  width: 80%;
  padding: 0 2em;
  margin-left: 120px;
  margin-right: 120px;
}
@media screen and (max-width : 1600px) {
  .main-content {
    margin-left: 0;
    margin-right: 0;
  }
}
@media screen and (max-width : 1440px) {
  .main-content {
    width: 100%;
    padding: 0 2em;
  }
}
.main-content--jupyter {
  width: 100%;
  margin-left: unset;
  margin-right: 120px;
}
@media screen and (max-width : 1600px) {
  .main-content--jupyter {
    margin-right: 0;
  }
}
@media screen and (max-width : 1440px) {
  .main-content--jupyter {
    width: 100%;
    padding: 0 2em 0 0;
  }
}
@media screen and (max-width : 1024px) {
  .main-content--jupyter {
    padding: 0;
  }
}
.main-content--jupyter p {
  color: #565e71;
}
.main-content h1, .main-content h2, .main-content h3, .main-content h4 {
  font-weight: 300;
}

.article__container {
  position: relative;
  max-width: 1248px;
  display: flex;
  margin-left: 230px;
}
@media screen and (max-width : 1440px) {
  .article__container {
    max-width: 980px;
  }
}
@media screen and (max-width : 1024px) {
  .article__container {
    margin-top: 0;
    margin-left: 0;
    padding: 0 1em;
  }
}
.article__container--notebooks {
  max-width: 1368px;
}
@media screen and (max-width : 1440px) {
  .article__container--notebooks {
    max-width: 980px;
    margin-left: 210px;
  }
}
@media screen and (max-width : 1024px) {
  .article__container--notebooks {
    margin-top: 0;
    margin-left: 0;
    padding: 0 2em 0 0;
  }
}
@media screen and (max-width : 540px) {
  .article__container--notebooks {
    padding: 0 2em;
  }
}

.page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.background {
  background-image: url("/imandra-docs-dev/jekyll-resources/assets/img/bg_image_cover.svg"), url("/imandra-docs-dev/jekyll-resources/assets/img/bg_regions.svg");
  background-position: top center, top center;
  background-size: 100% auto, 150% auto;
  background-repeat: no-repeat;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
@media screen and (max-width : 1024px) {
  .background {
    background: url("/imandra-docs-dev/jekyll-resources/assets/img/bg_image_cover.svg") top center/100% auto no-repeat, url("/imandra-docs-dev/jekyll-resources/assets/img/bg_regions.svg") top center/100% auto no-repeat;
  }
}

.WelcomeHeader {
  display: flex;
  min-height: 400px;
  padding-top: 10px;
  margin: 0;
  justify-content: center;
  align-items: flex-start;
}

.template-header {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
  justify-content: center;
}
@media screen and (max-width : 1024px) {
  .template-header {
    min-height: 140px;
  }
}
.template-header__image-container {
  margin-left: 230px;
  display: flex;
  flex-grow: 1;
  justify-content: flex-start;
  padding-left: 150px;
}
@media screen and (max-width : 1024px) {
  .template-header__image-container {
    margin-left: 0;
  }
}
@media screen and (max-width : 1600px) {
  .template-header__image-container {
    padding-left: 30px;
  }
}
@media screen and (max-width : 1024px) {
  .template-header__image-container {
    padding-left: 50px;
  }
}
.template-header__image-container--jupyter {
  padding-left: 9em;
}
@media screen and (max-width : 1440px) {
  .template-header__image-container--jupyter {
    padding-left: 6em;
  }
}
@media screen and (max-width : 1024px) {
  .template-header__image-container--jupyter {
    padding-left: 7em;
  }
}
@media screen and (max-width : 540px) {
  .template-header__image-container--jupyter {
    padding-left: 2em;
  }
}

/* Welcompage Template Classes */
.WelcomeImage {
  max-width: 700px;
  min-width: 200px;
}
@media screen and (max-width : 420px) {
  .WelcomeImage {
    width: 80%;
  }
}

.WelcomeText,
.WelcomeExcerpt {
  text-align: center;
  display: flex;
  justify-content: center;
}
@media screen and (max-width : 1024px) {
  .WelcomeText,
.WelcomeExcerpt {
    flex-direction: column;
  }
}

/* Page Template Classes */
.SiteSpecificImage {
  min-width: 180px;
  margin-top: 2em;
}
@media screen and (max-width : 1024px) {
  .SiteSpecificImage {
    width: 90%;
  }
}

/*  ---------------------------------------------------
  Side Menus
--------------------------------------------------- */
.sidebar-right {
  display: block;
  min-width: 240px;
  width: 240px;
  max-width: 240px;
  font-weight: 300;
}
@media screen and (max-width : 1440px) {
  .sidebar-right {
    display: none;
  }
}
.sidebar-right__menu {
  position: sticky;
  top: 20px;
  border-left: solid 1px #f5faf9;
}
@media screen and (max-width : 1024px) {
  .sidebar-right__menu {
    display: none;
  }
}
.sidebar-right__menu-item {
  display: block;
  font-size: 13px;
  text-decoration: none;
  line-height: 1.4;
}
.sidebar-right__menu-item:hover {
  background: #3a72cd;
  text-decoration: none;
  color: #ffffff;
  padding-left: 0.2em;
}
.sidebar-right__menu-item:active {
  color: #22e6b0;
  font-weight: 400;
}
.sidebar-right__menu-item--h1 {
  margin-left: 0.3em;
}
.sidebar-right__menu-item--h2 {
  margin-left: 1.5em;
}
.sidebar-right__menu-item--h3 {
  margin-left: 2em;
}
.sidebar-right__menu-item--h4 {
  margin-left: 2.5em;
}
.sidebar-right__menu-item--active {
  font-weight: 400;
  color: #22e6b0;
}

/*  ---------------------------------------------------
  Footer
--------------------------------------------------- */
.Footer {
  bottom: 0;
  width: 100%;
  left: 0;
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  font-size: 11px;
  color: #fff;
  padding-bottom: 1em;
  background: url("/imandra-docs-dev/jekyll-resources/assets/img/transition_footer.svg") center 101%/1400px 220px repeat-x;
  z-index: 0;
}

.Copyrights {
  text-decoration: none;
  font-size: 1.1em;
  color: #22e0b6;
}
.Copyrights:hover {
  text-decoration: none !important;
}

/*  ---------------------------------------------------
  Main Doc Welcome Page
--------------------------------------------------- */
.intro__title {
  color: #576483;
}
.intro__content {
  display: flex;
  flex-direction: column;
  color: #576483;
}
.intro__excerpt-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 3em;
}
.intro__excerpt {
  display: flex;
  margin-bottom: 1em;
}
.intro__repositories {
  display: flex;
  flex-wrap: wrap;
}
.intro__repository {
  width: 50%;
  padding-right: 4em;
  margin-bottom: 4em;
}
@media screen and (max-width : 1024px) {
  .intro__repository {
    width: 100%;
    padding: 0;
  }
}
.intro__repository-brand-container {
  display: flex;
  justify-content: flex-start;
}
.intro__repository-info-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.intro__repository-title {
  color: #14CCCC;
  width: 50%;
  font-weight: 300;
  margin: 0;
}
.intro__repository-excerpt {
  color: #576483;
  line-height: 1.4;
}
.intro__repository-icon {
  width: 3em;
  margin: 0 1em 0 0;
}
.intro__repository-link {
  color: #00A7FF;
  margin-top: 1em;
}

.VerticalsContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0;
  padding: 0;
  flex-grow: 1;
}
@media screen and (max-width : 1024px) {
  .VerticalsContainer {
    flex-direction: column;
    align-items: center;
    border: none;
  }
}

.Vertical {
  display: flex;
  flex-direction: column;
  width: 33.33%;
  padding: 0 0.2em;
}
.Vertical:first-child {
  border-right: solid 1px #f0f0f0;
}
.Vertical:last-child {
  border-left: solid 1px #f0f0f0;
}
@media screen and (max-width : 1024px) {
  .Vertical {
    width: 100%;
    flex-direction: column;
    align-items: center;
    border: none;
  }
}

.VerticalTitle {
  display: none;
  color: #7081AA;
  height: 1.2em;
  margin-bottom: 1em;
  font-weight: 100;
  align-self: center;
}

.Repositories {
  margin: 0 10px;
  padding: 0;
}
@media screen and (max-width : 1024px) {
  .Repositories {
    margin: 0 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.RepositoryItem {
  list-style: none;
}

.RepositoryLink {
  display: flex;
  max-width: 960px;
  min-height: 111px;
  border-radius: 6px;
  padding: 1em 0;
  margin-bottom: 1em;
  background-color: #fcfcfc;
  text-decoration: none;
  transition: all 0.1s ease-out;
}
.RepositoryLink:hover {
  text-decoration: none;
  background-color: #f0f0f0;
}
@media screen and (max-width : 1024px) {
  .RepositoryLink {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1em;
  }
}

.RepositoryIcon {
  width: 44px;
  align-self: flex-start;
  margin: 10px;
}
@media screen and (max-width : 1024px) {
  .RepositoryIcon {
    align-self: center;
  }
}

.RepositoryDescription {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.RepositoryDescription_Title {
  color: #565e71;
  margin: 0;
  font-weight: 100;
}

.RepositoryDescription_Excerpt {
  color: #565e71;
  margin: 0;
}

.RepositoryDescription_Excerpt:hover,
.RepositoryDescription_Title:hover {
  text-decoration: none;
}

/*  ---------------------------------------------------
	Code Examples
--------------------------------------------------- */
.highlighter-rouge {
  font-family: menlo, monospace;
  /*add source*/
  background: #f1f1f1;
  padding: 0 5px;
  font-size: 90%;
}

figure {
  margin: 0;
  padding: 0;
}

h2.internalLink-padding:before {
  display: block;
  content: " ";
  margin-top: -60px;
  height: 60px;
  visibility: hidden;
  pointer-events: none;
}

h2.internalLink-padding {
  padding-top: 1.6rem;
}

.box {
  display: none;
  width: 100%;
}

a:hover + .box, .box:hover {
  display: block;
  position: relative;
  z-index: 100;
}

/*  ---------------------------------------------------
	Inline Images styling
--------------------------------------------------- */
.template-image {
  width: 100%;
  display: block;
  border-radius: 4px;
  border-top: solid 10px #f2f2f2;
  border-left: solid 1px #f2f2f2;
  border-right: solid 1px #f2f2f2;
  border-bottom: solid 1px #f2f2f2;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 4px 0 rgba(0, 0, 0, 0.19);
}

.template-image:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.blogpost-image {
  width: 50%;
  display: block;
  border-radius: 4px;
  border-top: solid 10px #f2f2f2;
  border-left: solid 1px #f2f2f2;
  border-right: solid 1px #f2f2f2;
  border-bottom: solid 1px #f2f2f2;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 4px 0 rgba(0, 0, 0, 0.19);
}

.blogpost-image:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/**
* Syntax highlighting styles
*/
.highlight {
  background: #fafafa;
  margin: 2em 0 2em 0;
  padding: 0;
  overflow: hidden;
}
.highlight .c {
  color: #998;
  font-style: italic;
}
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2;
}
.highlight .k {
  font-weight: bold;
}
.highlight .o {
  font-weight: bold;
}
.highlight .cm {
  color: #998;
  font-style: italic;
}
.highlight .cp {
  color: #999;
  font-weight: bold;
}
.highlight .c1 {
  color: #998;
  font-style: italic;
}
.highlight .cs {
  color: #999;
  font-weight: bold;
  font-style: italic;
}
.highlight .gd {
  color: #000;
  background-color: #fdd;
}
.highlight .gd .x {
  color: #000;
  background-color: #faa;
}
.highlight .ge {
  font-style: italic;
}
.highlight .gr {
  color: #a00;
}
.highlight .gh {
  color: #999;
}
.highlight .gi {
  color: #000;
  background-color: #dfd;
}
.highlight .gi .x {
  color: #000;
  background-color: #afa;
}
.highlight .go {
  color: #888;
}
.highlight .gp {
  color: #555;
}
.highlight .gs {
  font-weight: bold;
}
.highlight .gu {
  color: #aaa;
}
.highlight .gt {
  color: #a00;
}
.highlight .kc {
  font-weight: bold;
}
.highlight .kd {
  font-weight: bold;
}
.highlight .kp {
  font-weight: bold;
}
.highlight .kr {
  color: #106932;
  font-weight: bold;
}
.highlight .kt {
  color: #458;
  font-weight: bold;
}
.highlight .m {
  color: #099;
}
.highlight .s {
  color: #d14;
}
.highlight .na {
  color: #008080;
}
.highlight .nb {
  color: #0086B3;
}
.highlight .nc {
  color: #458;
  font-weight: bold;
}
.highlight .no {
  color: #008080;
}
.highlight .ni {
  color: #800080;
}
.highlight .ne {
  color: #900;
  font-weight: bold;
}
.highlight .nf {
  color: #900;
  font-weight: bold;
}
.highlight .nn {
  color: #555;
}
.highlight .nt {
  color: #000080;
}
.highlight .nv {
  color: #008080;
}
.highlight .ow {
  font-weight: bold;
}
.highlight .w {
  color: #bbb;
}
.highlight .mf {
  color: #099;
}
.highlight .mh {
  color: #099;
}
.highlight .mi {
  color: #099;
}
.highlight .mo {
  color: #099;
}
.highlight .sb {
  color: #d14;
}
.highlight .sc {
  color: #d14;
}
.highlight .sd {
  color: #d14;
}
.highlight .s2 {
  color: #d14;
}
.highlight .se {
  color: #d14;
}
.highlight .sh {
  color: #d14;
}
.highlight .si {
  color: #d14;
}
.highlight .sx {
  color: #d14;
}
.highlight .sr {
  color: #009926;
}
.highlight .s1 {
  color: #d14;
}
.highlight .ss {
  color: #990073;
}
.highlight .bp {
  color: #999;
}
.highlight .vc {
  color: #008080;
}
.highlight .vg {
  color: #008080;
}
.highlight .vi {
  color: #008080;
}
.highlight .il {
  color: #099;
}
