.display-none {
    display: none;
}

.grab {
    cursor: move;
    cursor: -webkit-grab;
    cursor: grab;
}
.grabbing {
    cursor: grabbing;
    cursor: -webkit-grabbing;
}

.imandra-graphviz {
    padding-top: 1em;
    width: 100%;
}

.imandra-graphviz-target {
    width: 100%;
}

.imandra-graphviz-target #svg-pan-zoom-controls {
    transform: translate(10px,10px) scale(0.75, 0.75);
}

.imandra-fold .panel-heading i {
    min-width: 20px;
}

.imandra-alternatives {
    padding-top: 1em;
}

.imandra-alternatives a {
    text-decoration: none;
    font-weight: bold;
}

.imandra-alternatives ul.nav-tabs {
    padding-left: 0;
}

.imandra-table table td {
    text-align: left;
}

.decompose {
    display: flex;
    justify-content: space-between;
}
.decompose .decompose-foamtree {
    width: 50%;
    height: 400px;
}
.decompose .decompose-details {
    width: 50%;
    height: 400px;
    overflow-y: scroll;
    padding: 10px;
}
.decompose .decompose-details-header {
    font-weight: bold;
    font-size: 1.4em;
    margin: 0 0 0.5em 0;
}
.decompose .decompose-details-section-header {
    font-weight: bold;
    font-size: 1.2em;
    margin: 1em 0 0.5em 0;
}
.decompose .decompose-details-constraint {
    font-size: 0.8em;
    border-bottom: 1px black dotted;
}
.decompose .decompose-details-invariant-text {
    font-size: 0.8em;
    font-weight: bold;
    border: 1px black solid;
    padding: 1em;
}

.imandra-vr {
    font-size: 1.2em;
    padding: 0.5em;
}

.imandra-vr i {
    margin-right: 0.5em;
}

.imandra-vr-proved {
    border-top: 1px solid green;
    border-bottom: 1px solid green;
}

.imandra-vr-proved i {
    color: green;
}

.imandra-vr-refuted {
    border-top: 1px dashed #D84315;
    border-bottom: 1px dashed #D84315;
}

.imandra-vr-refuted i {
    color: #D84315;
}

.imandra-vr-unknown {
    border-top: 1px dashed #337ab7;
    border-bottom: 1px dashed #337ab7;
}

.imandra-vr-unknown i {
    color: #337ab7;
}

.imandra-vr .imandra-vr__text {
    display: inline-block;
    margin-left: 0.5em;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: bold;
}
